<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="tests" preserve-order="true">
<listeners>
	<listener class-name="mob_insurance.listeners.TestSuitListener" />	
</listeners>
<test name="MI_Test_Cycle_1">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/><!-- 
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.AgentSettingUploadFile"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract"/>
	<class name="mob_insurance.scripts.EditClientAndContract"/>
	<class name="mob_insurance.scripts.InsuranceOffer"/>
	<class name="mob_insurance.scripts.AddAgent"/>-->
	</classes> 
</test><!--
<test name="MI_Test_Cycle_2">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract" />
	</classes> 
</test>
<test name="MI_Test_Cycle_3">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract" />
	</classes> 
</test>
<test name="MI_Test_Cycle_4">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract" />
	</classes> 
</test>
<test name="MI_Test_Cycle_5">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract" />
	</classes> 
</test>
<test name="MI_Test_Cycle_6">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract" />
	</classes> 
</test>
<test name="MI_Test_Cycle_7">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract" />
	</classes> 
</test>
<test name="MI_Test_Cycle_8">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract" />
	</classes> 
</test>
<test name="MI_Test_Cycle_9">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract" />
	</classes> 
</test>
<test name="MI_Test_Cycle_10">
	<parameter name="browser" value="chrome"/>
	<classes>
	<class name="mob_insurance.scripts.AddClientContractDetails"/>
	<class name="mob_insurance.scripts.DeleteClientAndContract" />
	</classes> 
</test>-->
</suite>

